<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>PracticeBattleship</title>
    <link rel="stylesheet" type="text/css" href="gamePage.css">
    <script type="text/javascript" src="gamePage.js"></script>
  </head>

  <body>

    <header>
      <img src="/assets/Title.png" alt="Title" class="title">
      <h1>GamePage</h1>
      <!--475 100-->
    </header>

    <!--<nav>
      <ul>  
      <li><button type="button" onmouseover="playclip();" onclick="onePlayer();" class="navigation">1-Player</button></li>
      <li><button type="button" onmouseover="playclip();" onclick="options();" class="navigation">Options</button></li>
      <li><button type="button" onmouseover="playclip();" onclick="scores();" class="navigation">Scores</button></li>
      </ul>
    </nav>
    -->
    <br>

  <main>
  <div id="wholeGrid">
    <table>
        <tr>
        <th> </th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>

      <tr>
        <td class="ycoord">A</td>
        <td class="grid"><button type="button" id="splash" class="coord">A1</button></td>
        <td class="grid"><button type="button" id="smoke" class="coord">A2</button></td>
        <td class="grid"><button type="button" id="explode" class="coord">A3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="A4" class="coord">A4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="A5" class="coord">A5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="A6" class="coord">A6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="A7" class="coord">A7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="A8" class="coord">A8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="A9" class="coord">A9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="A10" class="coord">A10</button></td>
      </tr>

      <tr>
        <td class="ycoord">B</td>
        <td class="grid"><button type="button" onmouseover="playclip();" onclick="playclip2();" class="coord">B1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B2" class="coord">B2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B3" class="coord">B3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B4" class="coord">B4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B5" class="coord">B5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B6" class="coord">B6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B7" class="coord">B7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B8" class="coord">B8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B9" class="coord">B9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="B10" class="coord">B10</button></td>
      </tr>

      <tr>
        <td class="ycoord">C</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C1" class="coord">C1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C2" class="coord">C2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C3" class="coord">C3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C4" class="coord">C4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C5" class="coord">C5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C6" class="coord">C6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C7" class="coord">C7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C8" class="coord">C8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C9" class="coord">C9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="C10" class="coord">C10</button></td>
      </tr>

      <tr>
        <td class="ycoord">D</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D1" class="coord">D1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D2" class="coord">D2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D3" class="coord">D3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D4" class="coord">D4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D5" class="coord">D5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D6" class="coord">D6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D7" class="coord">D7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D8" class="coord">D8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D9" class="coord">D9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="D10" class="coord">D10</button></td>
      </tr>

      <tr>
        <td class="ycoord">E</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E1" class="coord">E1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E2" class="coord">E2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E3" class="coord">E3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E4" class="coord">E4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E5" class="coord">E5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E6" class="coord">E6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E7" class="coord">E7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E8" class="coord">E8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E9" class="coord">E9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="E10" class="coord">E10</button></td>
      </tr>

      <tr>
        <td class="ycoord">F</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F1" class="coord">F1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F2" class="coord">F2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F3" class="coord">F3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F4" class="coord">F4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F5" class="coord">F5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F6" class="coord">F6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F7" class="coord">F7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F8" class="coord">F8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F9" class="coord">F9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="F10" class="coord">F10</button></td>
      </tr>

      <tr>
        <td class="ycoord">G</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G1" class="coord">G1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G2" class="coord">G2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G3" class="coord">G3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G4" class="coord">G4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G5" class="coord">G5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G6" class="coord">G6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G7" class="coord">G7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G8" class="coord">G8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G9" class="coord">G9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="G10" class="coord">G10</button></td>
      </tr>

      <tr>
        <td class="ycoord">H</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H1" class="coord">H1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H2" class="coord">H2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H3" class="coord">H3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H4" class="coord">H4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H5" class="coord">H5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H6" class="coord">H6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H7" class="coord">H7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H8" class="coord">H8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H9" class="coord">H9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="H10" class="coord">H10</button></td>
      </tr>

       <tr>
        <td class="ycoord">I</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I1" class="coord">I2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I2" class="coord">I2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I3" class="coord">I3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I4" class="coord">I4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I5" class="coord">I5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I6" class="coord">I6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I7" class="coord">I7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I8" class="coord">I8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I9" class="coord">I9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="I10" class="coord">I10</button></td>
      </tr>

      <tr>
        <td class="ycoord">J</td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J1" class="coord">J1</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J2" class="coord">J2</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J3" class="coord">J3</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J4" class="coord">J4</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J5" class="coord">J5</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J6" class="coord">J6</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J7" class="coord">J7</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J8" class="coord">J8</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J9" class="coord">J9</button></td>
        <td class="grid"><button onmouseover="playclip();" type="button" value="J10" class="coord">J10</button></td>
      </tr>

  </table>
  </div>

  <div id="shipWindow">
      <button type="button" onmouseover="playclip();" onclick="shipSubmit();" id="shipSubmit">Submit</button>
  </div>


  <div id="divGrid2">
  <table id="layoutGrid">
        <tr>
        <th> </th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>

      <tr>
        <td class="ycoord">A</td>
        <td class="grid2">A1</td>
        <td class="grid2">A2</td>
        <td class="grid2">A3</td>
        <td class="grid2">A4</td>
        <td class="grid2">A5</td>
        <td class="grid2">A6</td>
        <td class="grid2">A7</td>
        <td class="grid2">A8</td>
        <td class="grid2">A9</td>
        <td class="grid2">A10</td>
      </tr>

      <tr>
        <td class="ycoord">B</td>
        <td class="grid2">B1</td>
        <td class="grid2">B2</td>
        <td class="grid2">B3</td>
        <td class="grid2">B4</td>
        <td class="grid2">B5</td>
        <td class="grid2">B6</td>
        <td class="grid2">B7</td>
        <td class="grid2">B8</td>
        <td class="grid2">B9</td>
        <td class="grid2">B10</td>
      </tr>

      <tr>
        <td class="ycoord">C</td>
        <td class="grid2">C1</td>
        <td class="grid2">C2</td>
        <td class="grid2">C3</td>
        <td class="grid2">C4</td>
        <td class="grid2">C5</td>
        <td class="grid2">C6</td>
        <td class="grid2">C7</td>
        <td class="grid2">C8</td>
        <td class="grid2">C9</td>
        <td class="grid2">C10</td>
      </tr>

      <tr>
        <td class="ycoord">D</td>
        <td class="grid2">D1</td>
        <td class="grid2">D2</td>
        <td class="grid2">D3</td>
        <td class="grid2">D4</td>
        <td class="grid2">D5</td>
        <td class="grid2">D6</td>
        <td class="grid2">D7</td>
        <td class="grid2">D8</td>
        <td class="grid2">D9</td>
        <td class="grid2">D10</td>
      </tr>

      <tr>
        <td class="ycoord">E</td>
        <td class="grid2">E1</td>
        <td class="grid2">E2</td>
        <td class="grid2">E3</td>
        <td class="grid2">E4</td>
        <td class="grid2">E5</td>
        <td class="grid2">E6</td>
        <td class="grid2">E7</td>
        <td class="grid2">E8</td>
        <td class="grid2">E9</td>
        <td class="grid2">E10</td>
      </tr>

      <tr>
        <td class="ycoord">F</td>
        <td class="grid2">F1</td>
        <td class="grid2">F2</td>
        <td class="grid2">F3</td>
        <td class="grid2">F4</td>
        <td class="grid2">F5</td>
        <td class="grid2">F6</td>
        <td class="grid2">F7</td>
        <td class="grid2">F8</td>
        <td class="grid2">F9</td>
        <td class="grid2">F10</td>
      </tr>

      <tr>
        <td class="ycoord">G</td>
        <td class="grid2">G1</td>
        <td class="grid2">G2</td>
        <td class="grid2">G3</td>
        <td class="grid2">G4</td>
        <td class="grid2">G5</td>
        <td class="grid2">G6</td>
        <td class="grid2">G7</td>
        <td class="grid2">G8</td>
        <td class="grid2">G9</td>
        <td class="grid2">G10</td>
      </tr>

      <tr>
        <td class="ycoord">H</td>
        <td class="grid2">H1</td>
        <td class="grid2">H2</td>
        <td class="grid2">H3</td>
        <td class="grid2">H4</td>
        <td class="grid2">H5</td>
        <td class="grid2">H6</td>
        <td class="grid2">H7</td>
        <td class="grid2">H8</td>
        <td class="grid2">H9</td>
        <td class="grid2">H10</td>
      </tr>

       <tr>
        <td class="ycoord">I</td>
        <td class="grid2">I2</td>
        <td class="grid2">I2</td>
        <td class="grid2">I3</td>
        <td class="grid2">I4</td>
        <td class="grid2">I5</td>
        <td class="grid2">I6</td>
        <td class="grid2">I7</td>
        <td class="grid2">I8</td>
        <td class="grid2">I9</td>
        <td class="grid2">I10</td>
      </tr>

      <tr>
        <td class="ycoord">J</td>
        <td class="grid2">J1</td>
        <td class="grid2">J2</td>
        <td class="grid2">J3</td>
        <td class="grid2">J4</td>
        <td class="grid2">J5</td>
        <td class="grid2">J6</td>
        <td class="grid2">J7</td>
        <td class="grid2">J8</td>
        <td class="grid2">J9</td>
        <td class="grid2">J10</td>
      </tr>

  </table>
  </div>


  <audio controls autoplay loop id="backgroundMusic">
      <source src="/assets/oceanSounds2.mp3" type="audio/mp3">
  </audio>
  <audio>
    <source src="/assets/grid.mp3">
  </audio>
  <audio>
    <source src="/assets/target.mp3">
  </audio>


  </main>


  <aside id="turn">
    <img src="/assets/yourTurn.gif" alt="Monkey" class="imgBorder" style="position:absolute; top:250px; left:150px; width:100px; height:100px;">
    <img src="/assets/theirTurn.jpg" alt="Monkey" class="imgBorder" style="position:absolute; top:450px; left:150px; width:100px; height:100px;">
  </aside>

    <footer>
      
    </footer>

  </body>

</html>