<head>
    <%= stylesheet_link_tag "scores.css" %>
    <%= javascript_include_tag "scores.js" %>
</head>

<body>
    <header>
      <img src="/assets/Title.png" alt="Title" class="title">
      <!--475 100-->
    </header>
    
    <main>
    <h1>Top 10 Scores</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
 
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.playerId %></td>
          <td><%= score.score %></td>
        </tr>
      <% end %>
    </table>
    </main>
</body>