<head>
    <%= stylesheet_link_tag "scores.css" %>
    <%= javascript_include_tag "scores.js" %>
</head>

<body>
    <header>
      <img src="/assets/Title.png" alt="Title" class="title">
      <!--475 100-->
    </header>
    
    <main>
    <h1>Top 10 Scores</h1>
    <table>
      <tr>
        <th align="center">Name</th>
        <th align="center">Score</th>
      </tr>
 
      <% nameArr = Array.new%>
      <% scoreArr = Array.new%>
      <% i = 0%>
      <% max = 0%>
      
     <% @scores.each do |score| %>
     <% nameArr[i] = Player.find(score.playerId) %>
     <% scoreArr[i] = score.score %>
     <% i+1 %>
     <% end %>
     
     
     <% scoreArr.sort %>
      
      <% @scores.each do |score| %>
      <% player = Player.find(score.playerId)%>
        <tr>
          <td><%= player.userName %></td>
          <td><%= score.score %></td>
        </tr>
      <% end %>
    </table>
    </main>
</body>