<!DOCTYPE html>
<html lang="en">
<!--We will use this later-->
<!--<%= link_to 'One Player', controller: 'player' %>-->


<head>
		<meta charset="UTF-8">
		<title>PracticeBattleship</title>
		<link rel="stylesheet" type="text/css" href="index.css">
		<script type="text/javascript" src="index.js"></script>
	</head>

	<body>

		<header>
			<img src="/assets/Title.png" alt="Title" style="width:475px; height:100px;">
		</header>

		<nav>
			<ul>
			<li><button type="button" onmouseover="playclip();" onclick="onePlayer();" class="navigation" id="onePlayer">1-Player</button></li>
			<li><button type="button" onmouseover="playclip();" onclick="options();" class="navigation">Options</button></li>
			<li><button type="button" onmouseover="playclip();" onclick="scores();" class="navigation">Scores</button></li>
			</ul>
		</nav>
		<br>

	<main>
	<div id="wholeGrid">
		<table>
  			<tr>
  			<th> </th>
    		<th>1</th>
    		<th>2</th>
    		<th>3</th>
    		<th>4</th>
    		<th>5</th>
    		<th>6</th>
    		<th>7</th>
    		<th>8</th>
    		<th>9</th>
    		<th>10</th>
  		</tr>

  		<tr>
    		<td class="ycoord">A</td>
   			<td class="grid"><button type="button" id="splash" class="coord">A1</button></td>
   			<td class="grid"><button type="button" id="smoke" class="coord">A2</button></td>
   			<td class="grid"><button type="button" id="explode" class="coord">A3</button></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="A4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="A5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="A6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="A7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="A8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="A9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="A10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">B</td>
   			<td class="grid"><button type="button" onmouseover="playclip();" onclick="playclip2();" class="coord">B1</button></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="B10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">C</td>
   			<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="C10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">D</td>
   			<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="D10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">E</td>
   			<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="E10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">F</td>
   			<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="F10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">G</td>
   			<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="G10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">H</td>
   			<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="H10" class="coord"></form></td>
  		</tr>

  		 <tr>
    		<td class="ycoord">I</td>
   			<td class="grid"><form><input onmouseover="playclip();"  type="submit" value="I1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="I10" class="coord"></form></td>
  		</tr>

  		<tr>
    		<td class="ycoord">J</td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J1" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J2" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J3" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J4" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J5" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J6" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J7" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J8" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J9" class="coord"></form></td>
    		<td class="grid"><form><input onmouseover="playclip();" type="submit" value="J10" class="coord"></form></td>
  		</tr>



	</table>
	</div>

	<div id="options">
		<h1>Options</h1>
		<form action="/action_page.php" method="get" id="optionsBox">
			<input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
  			<input type="checkbox" id="Music" value="Music" onchange="musicToggle(this);">
			<label for="Music">Turn off Music<br></label>
			<input type="checkbox" id="SoundFX" value="SoundFX" onchange="soundFXToggle(this);">
  			<label for="SoundFX">Turn off SoundFX<br></label>
		</form>
	</div>

	<div id="scores">
		<h1>Leaderboard</h1>
	</div>


	<audio controls autoplay loop id="backgroundMusic">
  		<source src="/assets/oceanSounds2.mp3" type="audio/mp3">
	</audio>
	<audio>
		<source src="/assets/grid.mp3">
	</audio>
	<audio>
		<source src="/assets/target.mp3">
	</audio>


	</main>
	
	<div id="start"><button type="button" onmouseover="playclip();" onclick="start();" id="startButton" class="fade-in">Start</button></div>

	<aside id="turn">
		<img src="/assets/yourTurn.gif" alt="Monkey" class="imgBorder" style="position:absolute; top:250px; left:150px; width:100px; height:100px;">
		<img src="/assets/theirTurn.jpg" alt="Monkey" class="imgBorder" style="position:absolute; top:450px; left:150px; width:100px; height:100px;">
	</aside>

		<footer>
			
		</footer>

	</body>

</html>