<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>PracticeBattleship</title>
		<link rel="stylesheet" type="text/css" href="index.css">
	    <%= stylesheet_link_tag "index.css"%>
        <%= javascript_include_tag "index.js" %>
		<script type="text/javascript" src="index.js"></script>
	</head>

	<body>

		<header>
			<img src="/assets/Title.png" alt="Title" class="title">
			
		</header>

		<br>

	<main>
		
	<audio controls autoplay loop id="backgroundMusic">
  		<source src="/assets/startTheme.mp3" type="audio/mp3">
	</audio>
	<audio>
		<source src="/assets/grid.mp3">
	</audio>
	<audio>
		<source src="/assets/target.mp3">
	</audio>

	</main>

<div id="start">
	<%= link_to 'Start', new_player_path, id: "startButton", class: "fade-inout", onmouseover: "playclip()", onclick: "start()" %>
      <!--<button type="button" onmouseover="playclip(); still();" onclick="start();" id="startButton" class="fade-inout">Start</button>-->
  </div>

  <div id="otherButtons">
      <button type="button" id="optionsButton" onclick="options();">Options</button>
      <%= link_to 'Scores', scores_url, id: "scoresButton", onmouseover: "playclip();" %>
      <!--<button type="button" id="scoresButton">Scores</button>-->
  </div>
  
  	<div id="options">
		<h1>Options</h1>
		<form action="/action_page.php" method="get" id="optionsBox">
  			<input type="checkbox" id="Music" value="Music" onchange="musicToggle(this);">
			<label for="Music">Turn off Music<br></label>
			<input type="checkbox" id="SoundFX" value="SoundFX" onchange="soundFXToggle(this);">
  			<label for="SoundFX">Turn off SoundFX<br></label>
		</form>
		 <button type="button" onclick="hideOptions();createCookie();">Okay</button>
	</div>

	</body>

</html>