<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>PracticeBattleship</title>
		<link rel="stylesheet" type="text/css" href="index.css">
		<script type="text/javascript" src="index.js"></script>
	</head>

	<body>

		<header>
			<img src="/assets/Title.png" alt="Title" class="title">
			<!--475 100-->
		</header>

		<!--<nav>
			<ul>	
			<li><button type="button" onmouseover="playclip();" onclick="onePlayer();" class="navigation">1-Player</button></li>
			<li><button type="button" onmouseover="playclip();" onclick="options();" class="navigation">Options</button></li>
			<li><button type="button" onmouseover="playclip();" onclick="scores();" class="navigation">Scores</button></li>
			</ul>
		</nav>
    -->
		<br>

	<main>

	<div id="options">
		<h1>Options</h1>
		<form action="/action_page.php" method="get" id="optionsBox">
			<input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
  			<input type="checkbox" id="Music" value="Music" onchange="musicToggle(this);">
			<label for="Music">Turn off Music<br></label>
			<input type="checkbox" id="SoundFX" value="SoundFX" onchange="soundFXToggle(this);">
  			<label for="SoundFX">Turn off SoundFX<br></label>
		</form>
	</div>

	<div id="scores">
		<h1>Leaderboard</h1>
	</div>

	<div id="shipWindow">
			<button type="button" onmouseover="playclip();" onclick="shipSubmit();" id="shipSubmit">Submit</button>
	</div>


  <div id="nameForm">
      <h1>Enter a name:</h1><br>
      <form method="post" action="gamePage.html" onsubmit="return nameBox()" value="gamePage.html">
      <fieldset>
      <label><input type="text" id="fname" name="fname"><br></label>
      <input type="submit" value="Submit">
      </fieldset>
      </form>
  </div>


	<audio controls autoplay loop id="backgroundMusic">
  		<source src="/assets/oceanSounds2.mp3" type="audio/mp3">
	</audio>
	<audio>
		<source src="/assets/grid.mp3">
	</audio>
	<audio>
		<source src="/assets/target.mp3">
	</audio>


	</main>

	<div id="start">
      <button type="button" onmouseover="playclip(); still();" onclick="start();" id="startButton" class="fade-inout">Start</button>
  </div>

  <div id="otherButtons">
      <button type="button" id="optionsButton">Options</button>
      <button type="button" id="scoresButton">Scores</button>
  </div>

	<aside id="turn">
		<img src="/assets/yourTurn.gif" alt="Monkey" class="imgBorder" style="position:absolute; top:250px; left:150px; width:100px; height:100px;">
		<img src="/assets/theirTurn.jpg" alt="Monkey" class="imgBorder" style="position:absolute; top:450px; left:150px; width:100px; height:100px;">
	</aside>

		<footer>
			
		</footer>

	</body>

</html>