*{
	font-family: Monospace;
}

html, body {margin: 0; height: 100%; overflow: hidden}

h3{
	font-size: 48px;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#miss{
	color: red;
	display: none;
}

#hit{
	color: yellow;
	display: none;
}

table 
{
	border-collapse: collapse;
	width: 420px;
	height: 420px;
	margin-left: 5%;
}

header
{
	text-align: center;
}

.grid
{
	outline: solid 1.5px aqua;
	z-index: -1;
}

.grid3{
	outline: solid 1.5px aqua;
	text-align: center;
	width: 42px;
	height: 42px;
	border: 0;
 	box-shadow:none;
 	border-radius: 0px;
 	background: #5B86E5;
}

#layoutGrid 
{
	border-collapse: collapse;
	width: 450px;
	height: 420px;
}

#table3{
	border-collapse: collapse;
	width: 450px;
	height: 420px;	
}

.grid2
{
	outline: solid 1.5px black;
	width: 45px;
	height: 42px;
	border: 0;
 	box-shadow:none;
 	border-radius: 0px;
 	background: gray;
 	text-align: center
}

.grid:hover
{
	outline: solid 2.5px blue;
	background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
	box-shadow: inset 0px 0px 50px #4195fc;
	z-index: 1;
}

.coord
{
	width: 42px;
	height: 42px;
	border: 0;
 	box-shadow:none;
 	border-radius: 0px;
 	background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
 	z-index: 5;
}

.clickedBox
{
	background-color: #b3e6ff;
	width: 42px;
	height: 42px;
}

.coord2
{
	width: 42px;
	height: 42px;
	border: 0;
 	box-shadow:none;
 	border-radius: 0px;
 	background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
}
.ycoord
{
	font-weight: bold;
	padding-right: 5px;
}

body 
{
	font-size: 16px;
	color: black;
	background-image: url("island.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#transparentBG{
	background-color: #b3e6ff;
	opacity: 0;
	display: none;
	width: 10000px;
	height: 10000px;
	position: absolute;
	top: -50%;
	left: -50%;
	z-index: 2;
}

.coord:hover
{
	background: url(bomb.gif);
	background-size: 42px 42px;
	cursor: pointer;
}

.splash{
	background-image: url(/assets/splash2.gif);
	background-color: #5B86E5;
	background-size: 42px 42px;
	width: 42px;
	height: 42px;
	display: block;
	z-index: 2;
}

.smoke {
	background-image: url(/assets/smoke2.gif);
	background-color: brown;
	background-size: 42px 42px;
	width: 42px;
	height: 42px;
	display: block;
	z-index: 3;
	background-position: 0px -1px;
}

.explode{
	background-image: url(/assets/explode2.gif);
	background-color: #b3e6ff;
	background-size: 42px 42px;
	width: 42px;
	height: 42px;
	display: block;
	z-index: 2;
}

main {
	background-color: #b3e6ff;
	background: rgba(179, 230, 255, 0.7);
	background-position: center;
	width: 510px;
	height: 490px;
	display: none;
	padding-top: 10px;
	margin-left: 60%;
	margin-top: 9%;
 	animation-fill-mode: forwards;
	animation-duration: 1s;
	backface-visibility: hidden;
	animation-delay: 1s;
}

#divGrid2{
	background: rgba(179, 230, 255, 0.7);
	padding-top: 10px;
	margin-top: 9%;
	margin-left: 3%;
	width: 510px;
	height: 490px;
}

#shipWindow{
	background-color: #b3e6ff;
	background: rgba(179, 230, 255, 0.7);
	width: 740px;
	height: 500px;
	position: absolute;
	left: 43%;
	top: 21.5%;
}

#shipSubmit{
	padding: 10px 20px;
 	font-size: 30px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	background-color: #FFC000;
 	border-style: solid;
    border-color: black;
    border-width: .5px;
 	border-radius: 5px;
 	box-shadow: 0 5px #C55A11;
 	display: none;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 20%;
 	width: 300px;
 	height: 150px;
}

#shipValidate{
	padding: 10px 20px;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	background-color: #FFC000;
 	border-style: solid;
    border-color: black;
    border-width: .5px;
 	border-radius: 5px;
 	box-shadow: 0 5px #C55A11;
 	margin-top: 4%;
 	margin-left: 12%;
}

#shipValidate:active {
background-color: #e6ac00;
  box-shadow: 0 3px #C55A11;
  transform: translateY(4px);
}

#shipSubmit:hover {
background-color: #e6ac00;
cursor: pointer;
}

#shipSubmit:active {
background-color: #e6ac00;
  box-shadow: 0 3px #C55A11;
  transform: translateY(4px);
}

aside{
	display: none;
}

#turn
{
	background-color: #b3e6ff;
	background: rgba(179, 230, 255, 0.7);
	background-position: center;
	width: 200px;
	height: 200px;
	display: none;
	padding-top: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

audio
{
	display: none;
}

#imgBorder
{
	border-style: solid;
  border-color: black;
  border-width: 2px;
  width:100px; 
  height:100px;
  display: block;
	margin: auto;
}

#wholeGrid
{
	display: none;
}

#wholeGrid2
{
	display: none;
	padding-top: 10px;
	margin-left: 3%;
	margin-top: 9%;
	position: absolute;
	background-color: #b3e6ff;
	background: rgba(179, 230, 255, 0.7);
	background-position: center;
	width: 510px;
	height: 490px;
	top: 3%;
}

label
{
	cursor: pointer;
	user-select: none;
}


h1
{
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	user-select: none;
}

h2
{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	user-select: none;
}

p {
	margin-left: 10%;
}

input[type=text] {
  width: 10px;
  text-align: center;
}

.shipImage5 {
	padding-right: 10px;
}

.shipImage4 {
	padding-right: 32px;
}

.shipImage3 {
	padding-right: 54px;
}

.shipImage2 {
	padding-right: 76px;
}

form ul {
	  list-style-type: none;
	  margin-top: 1.5%;
	  margin-left: 5%;
}

form ul li {
	float: left;
}

#loadingWheel {
	position: absolute;
	display: none;
	top: 75%;
	left: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-50%, -50%)
}

.fade-inout{
	opacity: 1;
	animation-name: fadeInOutOpacity;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

.fade-inout:hover{
	padding: 20px 30px;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	background-color: #FFC000;
 	border-style: solid;
    border-color: black;
    border-width: .5px;
 	border-radius: 5px;
 	box-shadow: 0 5px #C55A11;
 	width: 250px;
 	animation: none;
}

@keyframes fadeInOutOpacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.title
{
	display: inline-block;
	width:425px; 
	height:100px;
	position: absolute;
  	top: 33%;
    left: 50%;
    transform: translate(-50%, -210%);
	backface-visibility: hidden;

}


#jet, #jet2{
	display: none;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	backface-visibility: hidden;
	animation-delay: 1s;
	position: absolute;
	left: -50%;
	z-index: 1;
}

@keyframes fly{
	0%{
		transform: translate(395%, -70%) translateZ(0) scale(.5, .5);
	}
	100%{
    	transform: translate(-100%, -250%) scale(3, 3);
	}
}

@keyframes fly2{
	0%{
		transform: translate(100%, -70%) translateZ(0) scale(.5, .5);
	}
	100%{
    	transform: translate(700%, -250%) scale(3, 3);
	}
}


@keyframes slide{
	0%{
		transform: translate(-50%, -250%) translateZ(0);
	}
	100%{
    	transform: translate(-50%, -50%);
	}
}

