*{
	font-family: Perpetua;
}


table 
{
	border-collapse: collapse;
	width: 420px;
	height: 420px;
	margin-left: 25px;
}

header
{
	text-align: center;
}

.grid
{
	outline: solid 1.5px aqua;
	z-index: -1;
}

#layoutGrid 
{
	border-collapse: collapse;
	width: 450px;
	height: 420px;
}

.grid2
{
	outline: solid 1.5px black;
	width: 45px;
	height: 42px;
	border: 0;
 	box-shadow:none;
 	border-radius: 0px;
 	background: gray;
 	text-align: center
}

.grid:hover
{
	outline: solid 2.5px blue;
	background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
	box-shadow: inset 0px 0px 50px #4195fc;
	z-index: 1;
}

.coord
{
	width: 42px;
	height: 42px;
	border: 0;
 	box-shadow:none;
 	border-radius: 0px;
 	background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
}

.ycoord
{
	font-weight: bold;
	padding-right: 5px;
}

body 
{
	font-size: 16px;
	color: black;
	background-image: url("island.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coord:hover
{
	background: url(bomb.gif);
	background-size: 42px 42px;
	cursor: pointer;
}

#splash:active {
	background: url(splash2.gif);
	background-size: 42px 42px;
}

#smoke:active {
	background: url(smoke2.gif);
	background-size: 42px 30px;
	background-repeat: no-repeat;
	background-position: 0px -1px;
}

it#explode:active {
	background: url(explode2.gif);
	background-size: 42px 42px;
}

main {
	background-color: #b3e6ff;
	background: rgba(179, 230, 255, 0.7);
	background-position: center;
	width: 510px;
	height: 490px;
	display: none;
	padding-top: 10px;
	margin-left:auto; 
	margin-right:auto;
	margin-top: 116.5px;
 	animation-fill-mode: forwards;
	animation-duration: 1s;
	backface-visibility: hidden;
	animation-delay: 1s;
}

#divGrid2{
	background: rgba(179, 230, 255, 0.7);
	padding-top: 10px;
	margin-top: 116.5px;
	margin-left: 30px;
	width: 510px;
	height: 490px;
}

#shipWindow{
	background-color: #b3e6ff;
	background: rgba(179, 230, 255, 0.7);
	width: 710px;
	height: 500px;
	position: absolute;
	left: 43%;
	top: 20%;
}

#nameForm{
	display: none;
}

#nameBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#shipSubmit{
	padding: 10px 20px;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	background-color: #FFC000;
 	border-style: solid;
    border-color: black;
    border-width: .5px;
 	border-radius: 5px;
 	box-shadow: 0 5px #C55A11;
}

#shipSubmit:hover {
background-color: #e6ac00;
cursor: pointer;
}

#shipSubmit:active {
background-color: #e6ac00;
  box-shadow: 0 3px #C55A11;
  transform: translateY(4px);
}

aside{
	display: none;
}

#turn
{
	float: left;
}

audio
{
	display: none;
}

.imgBorder
{
	border-style: solid;
    border-color: black;
    border-width: 2px;
}

#wholeGrid
{
	display: none;
}

label
{
	cursor: pointer;
	user-select: none;
}


h1
{
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	user-select: none;
}

#optionsBox
{
	margin-top: 75px;
	text-align: center;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-size: 24px;
  font-weight: bold;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #FFC000;
  border-color: #C55A11;
  color: black;
}

p {
	margin-left: 140px;
}

input[type=text] {
  width: 10px;
  text-align: center;
}

.shipImage5 {
	padding-right: 10px;
}

.shipImage4 {
	padding-right: 32px;
}

.shipImage3 {
	padding-right: 54px;
}

.shipImage2 {
	padding-right: 76px;
}

form ul {
	  list-style-type: none;
	  margin-top: 22px;
	  margin-left: 75px;
}

form ul li {
	float: left;
}

.fade-inout{
	opacity: 1;
	animation-name: fadeInOutOpacity;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

.fade-inout:hover{
	padding: 20px 30px;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	background-color: #FFC000;
 	border-style: solid;
    border-color: black;
    border-width: .5px;
 	border-radius: 5px;
 	box-shadow: 0 5px #C55A11;
 	width: 250px;
 	animation: none;
}

@keyframes fadeInOutOpacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.navigation
{
	display: none;
	/*display: inline-block;*/
 	padding: 10px 20px;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	background-color: #FFC000;
 	border-style: solid;
    border-color: black;
    border-width: .5px;
 	border-radius: 5px;
 	box-shadow: 0 5px #C55A11;
 	width: 200px;
 	margin-top: 100px;
 	opacity: 0;
 	animation-fill-mode: forwards;
	animation-duration: 1s;
	backface-visibility: hidden;
	animation-delay: 1s;

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.title
{
	display: inline-block;
	width:425px; 
	height:100px;
	position: absolute;
  	top: 30%;
    left: 50%;
    transform: translate(-50%, -210%);
	backface-visibility: hidden;

}

#optionsButton
{
	color: white;
	padding: 10px 20px;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	background-color: #FFC000;
 	border-style: solid;
    border-color: black;
    border-width: .5px;
 	border-radius: 5px;
 	box-shadow: 0 5px #C55A11;
 	width: 200px;
 	margin-top: 100px;
 	position: absolute;
 	top: 70%;
 	left: 5%;

}

#scoresButton
{
	background: url("scoreList2.png");
	background-repeat: no-repeat;
	background-position: -15%;
	background-size: 25px 25px;
	color: white;
	padding: 10px 20px;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
 	outline: none;
 	border: none;
 	position: absolute;
 	top: 70%;
 	left: 75%;


}

@keyframes slide{
	0%{
		transform: translate(-50%, -250%) translateZ(0);
	}
	100%{
    	transform: translate(-50%, -50%);
	}
}

