<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag "newPlayer.css"%>
    <%= javascript_include_tag "newPlayer.js" %>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
